
body {
    box-sizing: border-box;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
}
.hero {
    width: 100%;
    min-height: 100vh;
}
.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px 0;
}
.list__caption {
    width: calc(25% - 48px);
    margin: 20px 20px;
    list-style: none;
    font-weight: bold;
}
.list__cel {
    width: calc(25% - 48px);
    margin: 0 auto;
    min-height: 150px;
    list-style-type: none;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    overflow: hidden;
}
.list__card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    min-height: 100%;
    cursor: all-scroll;
}
.list__card-header {
    font-weight: bold;
    padding: 12px 20px;
    background-color: lightblue;
}
.list__card-info {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 12px 20px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
.hide {
    display: none;
}
.hovered {
    background-color: lightblue;
}